<div class="profile">
<img src="neha_new.jpg" style="width:300px;height:290px;">
<h1> Neha Jha</h1>
<p class="title"> Software Engineer</p>
<p class="title"> Interested in Coding, Desinging - Feature Enhancement, Use case simulation, Debugging!</p>
</div>
<div class="content">
<a><p>Role: Full Stack Engineer   Company: PayPal   Location: San jose, CA</br>
Duration: July 2017 to Aug 2017</a> 
<p>Highly competitive Recharge full stack Bootcamp. Learning and experiencing - Core Java concepts, Spring Framework - Hash Map implementation for Student(name, id) - (Workshop). Web page designing using HTML, CSS - Content of the web page and using CSS for content look. Workshop to develop Profile page, Login page, Table page, creating dialog.
Using jQuery to manipulate the Document Object Model.
Web designing with JavaScripts, node js, Restful </p>
<p>Environment: HTML, CSS, JQuerry, JavaScript</p>

<a><p>Role: Big data intern Company: InfoObjects Inc. Location: Santa Clara, CA</br>
Duration: Aug 2016 to Dec 2016</a> 
<p>Project for event management to host events for 1000+ users. With handling data from IoT devices, collecting using Kafka and debugging using Spark SQL. Using Kafka as the pipeline ( designing and analyzing the configuration). Creating topics, message sizes and configuring. Exposure to storing and querying NoSQL database - Cassandra. Filter data received via Kafka and comparing with old database.
<p>Environment: HTML, Cassandra, kafka, JavaScript</p>
</p>
<a><p>Role: Summer camp teacher Company: Safari Kids Location: Dublin, CA</br>
Duration: June 2016 to Aug 2016</a>
<p>Associated with the STEM programs for kids of grade 2 upto 7 during the summer break including fun with Math and Science!
Public speaking, encouraging self confidence, educational learning were some of the other end that I covered.
</p>
<a><p>Role: Senior Software Engineer Company: RadiSys Corporation, IND</br>
Duration: March 2012 to Nov 2014</a>

<p> Excellence in debugging and C programming.
 Experience in integrated stacks deployment. Development and testing of advanced wireless communication protocols.
 Good exposure on L3 layers and LTE applications. Measurement Reporting for HO. Integrity Protection.
 Intra LTE Handover including S1 HO and X2 HO Handover Validation and debugging. Exposure to functionality on MAC  and MAC scheduling. Knowledge on Core Network (MME, SGW, PGW) signaling procedures.
</p>
<a><p>Role:Software Engineer Company: Continuous Computing, IND</br>
Duration: March 2010 to March 2012</a>

<p> Experience in SIP/SDP and ABNF module. Worked on rich features such as multi-threading, DNS robustness and high availability (FTHA) with protocol c onformance to RFC 3261. Developed feature enhancement for Session Timer handling during High Availability (HA) switchover. Handled customer issues on SIP stack queue and encoder decoder module. Managed live debugging on webex as well as local onsite as per customer requirements. 
<br> Responsible for various general purpose releases. Developed feature enhancement inclusions of various RFCs: attribute types from RFC 5547, RFC 4975 and new attribute type according to standard 29.231. Modified content in common ABNF encoder/decoder modules according to RFC-2733 and RFC-ChnOrd (3190).</br>
</p>
</div>

